{% extends 'base.html' %}
{% block title %}<title>Password Change</title>{% endblock title %}
{% block content %}
{% include 'include/creative/navbar.html' %}
<div class="mt-5 ms-5 me-5">
    <form action="." method="post">
        {% csrf_token %}
        <label for="id_old_password" class="form-label">Old password</label>
        <input type="password" name="old_password" class="form-control" autocomplete="current-password" autofocus required id="id_old_password">

        <label for="id_new_password1" class="form-label">New password</label>
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control">

        <label for="id_new_password2" class="form-label">New password confirmation</label>
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control">
        <div class="mt-3">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </form>
</div>
{% endblock content %}