{% extends 'base.html' %}
{% block title %}<title>Book Create</title>{% endblock title %}
{% block content %}
    {% include 'include/creative/navbar.html' %}
    <div class="ms-5 me-5 mt-5 mb-5">
        <form action="." method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ object.name }}"?</p>

            {{ form }}
            <input class="btn btn-primary mt-2" type="submit" value="Submit">
            <a href="{% url 'book-list' %}" class="btn btn-danger mt-2">Cancel</a>
        </form>
    </div>
{% endblock content %}
