{% extends 'base.html' %}
{% block title %}<title>Book Create</title>{% endblock title %}
{% block content %}
    {% include 'include/creative/navbar.html' %}
    <div class="ms-5 me-5 mt-5 mb-5">
        <form action="." method="post">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary mt-2" type="submit" value="Submit">
        </form>
    </div>
{% endblock content %}
