{% extends 'base.html' %}
{% block title %}<title>Book List</title>{% endblock title %}
{% block content %}
{% include 'include/creative/navbar.html' %}
<div class="mt-3 text-end me-5">
  {% if user.is_authenticated %}
    <a href="{% url 'book-create' %}" class="btn btn-primary">Add Book</a>
  {% endif %}
</div>
<div class="mt-3 ms-5 me-5">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Sr.</th>
          <th>Book Name</th>
          <th>ISBN</th>
          <th>Discription</th>
          <th>Author</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for row in book_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
          <td>
            <p class="fw-normal mb-1">{{row.name}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{row.isbn}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{row.category}}</p>
          </td>
          <td>
            <p class="fw-normal mb-1">{{row.author}}</p>
          </td>
          <td>
            <a href="{% url 'book-update' row.id %}" type="button" class="btn btn-secondary btn-sm">Update</a>
            <a href="{% url 'book-delete' row.id %}" type="button" class="btn btn-danger btn-sm">Delete</a>
          </td>
        </tr>
        {% empty %}
          <tr><td colspan="6">Currently No Book Added</td></tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock content %}