{% extends 'base.html' %}
{% block title %}<title>Welcome</title>{% endblock title %}
{% block content %}
    {% include 'include/creative/navbar.html' %}
    <div class="mt-4 text-center">
        <h3>Welcome Keywordio Library</h5>
        <h4>Available books for students</h4>
    </div>
    <div class="mt-4 ms-5 me-5">
        <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
            <th>Sr.</th>
            <th>Book Name</th>
            <th>ISBN</th>
            <th>Discription</th>
            <th>Author</th>
            </tr>
        </thead>
        <tbody>
            {% for row in books %}
            <tr>
                <td>{{ forloop.counter }}</td>
            <td>
                <p class="fw-normal mb-1">{{row.name}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{row.isbn}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{row.category}}</p>
            </td>
            <td>
                <p class="fw-normal mb-1">{{row.author}}</p>
            </td>
            </tr>
            {% empty %}
            <tr><td colspan="6">Currently No Book Added</td></tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock content %}