{% extends 'base.html' %}
{% block title %}<title>Dashboard</title>{% endblock title %}
{% block content %}
    {% include 'include/creative/navbar.html' %}
    <div class="text-center mt-5">
        <h3><p class="text-primary">{{request.user.username}}, Welcome To Keywordio Library.</p></h3>
        <h4>You can add book, update book, delete book</h4>
        <a href="{% url 'book-list' %}" class="btn btn-primary mt-5">Please click me.</a>
    </div>
{% endblock content %}
