<div class="mt-5">
  <section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="text-center mt-3"><h3>Welcome in Keywordio Library management system</h3><span>Only authenticate person can register</span></div>
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form action="." method="post">
            {% csrf_token %}
            <!-- Email input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="id_username">Username</label>
              <input type="text" id="id_username" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" required class="form-control form-control-lg" placeholder="Enter a valid email address" />
            </div>
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="id_password">Password</label>
              <input type="password" name="password" autocomplete="current-password" required id="id_password" class="form-control form-control-lg" placeholder="Enter password" />
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <a href="{% url 'user-password_reset' %}" class="text-body">Forgot password?</a>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'user-register' %}" class="link-danger">Register</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>