<div class="mb-2">
  <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse ms-5" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <a href="{% url 'dashboard' %}"><img src="https://www.keywordio.com/hubfs/keywordio-main-landing-page/keywordio-logo.png" height="15" alt="MDB Logo" loading="lazy" />
      </a>
      <!-- Left links -->
      <!-- Left links -->
    </div>
    {%if not user.is_authenticated %}
      <a class="btn btn-primary me-5" href="{% url 'user-login' %}">Login</a>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="btn-group me-5">
      <a class="btn btn-primary me-3" href="{% url 'book-list' %}">Book List</a>
      <button type="button" class="btn btn-info dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Profile
      </button>
      <ul class="dropdown-menu">
        <li><a href="{% url 'logout' %}" class="dropdown-item" >Logout</a></li>
        <li><a href="{% url 'password_change' %}" class="dropdown-item">Password Change</a></li>
      </ul>
    </div>
    {% endif %}
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
</div>