<div class="mt-5 ms-5 me-5">
  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Sr.</th>
        <th>Book Name</th>
        <th>ISBN</th>
        <th>Discription</th>
        <th>Author</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for row in book_list %}
        <tr>{{ forloop.counter }}<tr>
      <tr>
        <td>
          <p class="fw-normal mb-1">{{row.name}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{row.isbn}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{row.category}}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{row.author}}</p>
        </td>
        <td>
          <button type="button" class="btn btn-link btn-sm btn-rounded">Update</button><br>
          <button type="button" class="btn btn-link btn-sm btn-rounded">Delete</button>
        </td>
      </tr>
      {% empty %}
        <tr><td colspan="6">Currently No Book Added</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>